:root {
    --gridBasis: 1em;
    --baseColor: #dddddd
}
body{
    background-color: var(--baseColor);
    margin: 0;
}
#mainContainer {
    display: grid;
    grid-template-rows: repeat(2, calc(var(--gridBasis) * 12)) 10em;
    grid-template-columns: 100%;
    padding: 0;
    padding-top: 0.5em;
}
.boardContent {
    text-align: center;
}
.boardContent p {
    margin: 0;
    width: auto;
}
#playerZone {
    grid-row: 2;
}
#gopherZone {
    grid-row: 1;
}

.boardGrid {
    display: inline-grid;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    grid-template: repeat(10, var(--gridBasis))/repeat(10, var(--gridBasis));
}
.gridSquare {
    width: var(--gridBasis);
    height: var(--gridBasis);
    border: 1px solid black;
    background-size: 100%;
}
.gopherSquare {
    background-image: url('../assets/soil.png');
}
.playerSquare {
    background-image: url('../assets/farmland.png');
}
.carrotSquare {
    background-image: url('../assets/carrotTop.png');
}

#plotTray{
    grid-column: 1 / span 2;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    padding: 1em;
    margin: 1em;
}
#plotTray .selected{
    padding: 3px;
    border: 1px solid red;
}
.carrotPlot {
    display: flex;
    justify-content: flex-start;
}
.vertical {
    flex-direction: column;
}
.horizontal {
    flex-direction: row;
}
.carrotSquare, .healthyCarrot {
    background-color: orange;
    box-sizing: border-box;
}
.hidden {
    display: none !important;
}
.debug {
    background-color: brown;
}
.gopherHit {
    background-image: url('../assets/gopherHit.png') !important;
}
.gopherMiss {
    background-image: url('../assets/gopherMiss.png') !important;
}
.playerHit {
    background-image: url('../assets/playerHit.png') !important;
}
.playerMiss {
    background-image: url('../assets/playerMiss.png') !important;
}
.deadDen {
    background-image: url('../assets/deadDen.png') !important;
}

@media (min-width: 600px) {
    #mainContainer {
        display: grid;
        grid-template-areas: 11em 5em/ 10em 10em;
    }
    #playerZone {
    grid-column: 1;
    background-image: url('https://images.pexels.com/photos/11798232/pexels-photo-11798232.jpeg');
    background-size: cover;
    }
    #gopherZone {
        grid-column: 2;
        background-image: url('https://images.pexels.com/photos/8300255/pexels-photo-8300255.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        background-size: cover;
    }
}