:root {
    --gridBasis: 2em;
    --baseColor: #dddddd
}
body{
    background-color: var(--baseColor);
    margin: 0;
}
#mainContainer {
    display: grid;
    grid-template-rows: repeat(2, calc(var(--gridBasis) * 12)) calc(var(--gridBasis) * 10);
    padding: 0;
    padding-top: 0.5em;
}
.boardContent {
    text-align: center;
}
.boardContent p {
    margin: 0;
    margin-bottom: .25em;
    width: auto;
}
#playerZone {
    grid-row: 2;
}
#gopherZone {
    grid-row: 1;
}

.boardGrid {
    display: inline-grid;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    grid-template: repeat(10, var(--gridBasis))/repeat(10, var(--gridBasis));
}
.gridSquare {
    width: var(--gridBasis);
    height: var(--gridBasis);
    border: 1px solid black;
    background-size: 100%;
}
.gopherSquare {
    background-image: url('../assets/soil.png');
}
.playerSquare {
    background-image: url('../assets/farmland.png');
}
.carrotSquare {
    background-image: url('../assets/carrotTop.png');
}
.carrotPlot .carrotSquare {
    box-sizing: border-box;
}

#plotTray{
    grid-row: 3;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    padding: 1em;
    margin: 1em;
}
.selected{
    position: relative;
    top: calc(-0.1 * var(--gridBasis));
    left: calc(-0.1 * var(--gridBasis));
    box-shadow: calc(0.1 * var(--gridBasis)) calc(0.1 * var(--gridBasis)) 2px 1px black;
}
.carrotPlot {
    display: flex;
    justify-content: flex-start;
    height: fit-content;
    position: relative;
    top: 0;
    left: 0;
    transition: all 0.3s linear;
}
.vertical {
    flex-direction: column;
}
.horizontal {
    flex-direction: row;
}
.hidden {
    display: none !important;
}
.debug {
    background-color: brown;
}
.gopherHit {
    background-image: url('../assets/gopherHit.png') !important;
}
.gopherMiss {
    background-image: url('../assets/gopherMiss.png') !important;
}
.playerHit {
    background-image: url('../assets/playerHit.png') !important;
}
.playerMiss {
    background-image: url('../assets/playerMiss.png') !important;
}
.deadDen {
    background-image: url('../assets/deadDen.png') !important;
}

@media (min-width: 600px) {
    :root {
        --gridBasis: 2em;
    }
    #mainContainer {
        margin: auto;
        grid-template-rows: calc(var(--gridBasis) * 12) calc(var(--gridBasis) * 5 + 3em);
        grid-template-columns: 1fr repeat(2, calc(var(--gridBasis) * 12)) 1fr; 
    }
    #playerZone {
        grid-column: 2;
        grid-row: 1;
    }
    #gopherZone {
        grid-column: 3;
        grid-row: 1;
    }
    #plotTray {
        grid-row: 2;
        grid-column: 2 / span 2;
        margin: 0;
    }
}